<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>Добавить пользователя</title>
</head>
<body>
<form align="left" th:method="POST" th:action="@{/admin/create}" th:object="${user}">

  <label for=>Логин</label><br>
  <input type="text" th:field="*{username}" /><br>
  <label for="firstName">Имя</label><br>
  <input type="text" th:field="*{firstName}" id="firstName"/><br>
  <label for="lastName">Фамилия</label><br>
  <input type="text" th:field="*{lastName}" id="lastName"/><br>
  <label for="password">Пароль</label><br>
  <input type="text" th:field="*{password}" id="password"/><br>
  <label>Select role:</label><br>
  <ul>
    <li th:each="role : ${allRoles}">
      <div>
        <input type="checkbox" th:field="*{roles}" th:value="${role.getId()}">
        <label th:text="${role.getName()}"></label>
      </div>
    </li>
  </ul>


  <input type="submit" value = "Добавить"/>
</form>
<input type="button" value="Выйти" onclick="window.location.href = '/logout'">
</body>
</html>
