<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <style type="text/css">.text-center {
    text-align: center;
  }
  </style>
  <title>Админка</title>
</head>
<body>
<h1 align="center">Кого сегодня кикнуть?</h1>
<input type="button" value="Добавить" onclick="window.location.href = '/admin/create'">
<input type="button" value="Профиль" onclick="window.location.href = '/user'"/>
<form th:action="@{/logout}" th:method="POST">
  <input type="submit" value="Выйти"/>
</form>

<br>
<br>
<table border="1" align="center" cellspacing="0" cellpadding="3">
  <tr>
    <th>Login</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Роли</th>

  </tr>
  <tr  style="text-align:center" th:each="user : ${users}">
    <td th:text="${user.getUsername()}">UserName</td>
    <td th:text="${user.getFirstName()}">First Name</td>
    <td th:text="${user.getLastName()}">Second Name</td>
    <td th:text="${user.getRoles()}">Role</td>
    <td> <a th:href="@{/admin/edit/{id}(id=${user.getId()})}">
      <button type="button">Редактировать </button></a>
      <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
        <input type="submit" value = "Удалить"/>
      </form>
    </td>
  </tr>
</table>
<input type="button" value="Выйти" onclick="window.location.href = '/logout'">
</form>
</body>
</html>
